{% extends "base.html" %}
{% block title %}Dashboard | Url Shortner{% endblock title %}
{% block content %}

<section style="background-color: gainsboro; padding-top: 5rem; padding-bottom: 5rem;">
    <div class="container card shadow col-md-7">
        <form class="row mt-3" method="POST">
            {% csrf_token %}
            <div class="col-md-7">
                <input type="text" class="form-control" id="staticUrl" name="URL" placeholder="Paste URL"
                    value="{{url}}">
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Alias" name="alias" value="{{alias}}">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary mb-3">Short Url</button>
            </div>
        </form>
    </div>

    <div class="container card shadow col-md-7 mt-4">
        <div style="overflow: auto; max-height:400px;">
            <table class="table table-striped">
                <thead style="position: sticky; top:0; background-color: white; z-index: 1;">
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">URL</th>
                        <th scope="col">Shorted URL</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Clicks</th>
                        <th scope="col">Clicks per Day</th>
                        <th scope="col">Clicks per Month</th>
                    </tr>
                </thead>
                <tbody>
                    {% for url in request.user.url_set.all %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                            <input type="text" value="{{url.target_url}}" class="form-control"
                                title="{{url.target_url}}">
                        </td>
                        <td class="d-flex align-items-center">
                            <span>
                                <input type="text" id="shorted-{{url.id}}" value="{{domain}}/{{url.alias}}"
                                    class="form-control" title="{{domain}}/{{url.alias}}" readonly>
                            </span>
                            <button class="btn p-0" onclick="copyText(`{{url.id}}`)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-copy ml-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                                </svg>
                            </button>
                        </td>
                        <td>{{url.timestamp}}</td>
                        <td>
                            <form action="{%url 'delete_url' url.id%}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </svg>
                                </button>
                            </form>
                        </td>
                        <td>
                            <a href="{{domain}}/{{url.alias}}">{{ url.alias }}</a>
                            <a href="{% url 'analysis' alias=url.alias %}">{{ url.clicks }}</a>
                        </td>
                        <td>{{ url.clicks_per_day }}</td>
                        <td>{{ url.clicks_per_month }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    function copyText(id) {
        var inputTag = document.getElementById(`shorted-${id}`)
        inputTag.select()
        document.execCommand("copy")
    }
</script>
{% endblock content %}